 body {
    background-color: linen;

}
  
.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}
/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
    z-index: 51;
}

.jtk-endpoint {
    z-index: 50;
    cursor: move;
}

.jtk-connector {
    z-index: 1;
}

/** ELEMENTS **/
.littledot
{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-image: url(littledot.png);
    z-index: 5;
    position: absolute;
    border-radius: 31px;
}



.littledot-hover-hover {
    border: 2px solid orange;
}

.dropHover {
    border: 1px solid orange;
}

/** ELEMENT POSITIONS **/



#ld2 {
    top: 343px;
    left: 216px;;
}

#ld3 {
    top: 371px;
    left: 186px;
}

#ld4 {
    top:351px;
    left:281px;
}

#ld5 {
    top:379px;
    left: 281px;
}

#ld6 {
    top:235px;
    left: 375px;
}

#ld7 {
    top:296px;
    left: 375px;
}

#ld8 {
    top:432px;
    left: 375px;
}

#ld9 {
    top:469px;
    left: 375px;
}

#ld10 {
    top:366px;
    left: 433px;
}

#ld1 {
    top:386px;
    left: 496px;
}

path, .jtk-endpoint {
    cursor: pointer;
}


